.csss-dropdown {
	position: relative;
	display: inline-block;
}

.csss-dropdown > .csss-button {
	width: 100%;
}

.csss-dropdown svg.rotate90 {
	transform: rotate(-90deg);
}

.csss-dropdown svg.rotate180 {
	transform: rotate(180deg);
}

/* don't display the (just) text element; this is for recursive Dropdowns */
.csss-dropdown > p {
	display: none;
}

.csss-dropdown-flex {
	z-index: 99;
	position: absolute;
	top: 100%;
	border-radius: 16px;
	border: 2px solid var(--csss-background-color);
	box-shadow: 0 0 0 1px var(--csss-border-color);
	filter: drop-shadow(0 0 4px var(--csss-shadow-color));
	padding: 8px;
	background-color: var(--csss-background-color-alt);
}

.csss-dropdown-flex.hidden {
	display: none;
}

.csss-dropdown-flex.left {
	left: 0;
}

.csss-dropdown-flex.center {
	left: 50%;
	transform: translateX(-50%);
}

.csss-dropdown-flex.right {
	right: 0;
}

.csss-dropdown-flex > hr {
	margin: 4px;
	width: calc(100% - 16px);
	border: none;
	border-top: 1px solid var(--csss-border-color);
}

.csss-dropdown-flex > p {
	margin: 8px;
	white-space: nowrap;
	font-size: 10pt;
	font-weight: 400;
}

/* expand recursive Dropdowns */

/* don't display the clickable button */
.csss-dropdown-flex .csss-dropdown > .csss-button {
	display: none;
}

/* show the (just) text element */
.csss-dropdown-flex .csss-dropdown > p {
	display: block;
	margin: 4px;
	white-space: nowrap;
	font-size: 10pt;
	font-weight: 400;
}

.csss-dropdown-flex .csss-dropdown-flex,
.csss-dropdown-flex.static {
	z-index: auto;
	position: static;
	transform: none;
	border-radius: 0;
	border: none;
	padding: 0;
	box-shadow: none;
	filter: none;
	padding: 0;
	background-color: transparent;
}

/* do not hide recursive Dropdown flexboxes */
.csss-dropdown-flex .csss-dropdown-flex.hidden {
	display: flex;
}
