.mdb-navigation-bar {
	z-index: 99;
	position: sticky;
	top: 0;
	width: 100vw;
	height: var(--mdb-navigation-bar-height);
	border-bottom: 1px solid var(--mdb-border-color);
	background-color: var(--mdb-background-color);
	color: var(--mdb-color);
}

.mdb-navigation-bar-flex {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: var(--mdb-page-width);
	height: var(--mdb-navigation-bar-height);
}

.mdb-navigation-bar-flex-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
