.mdb-icon {
	display: inline-block;
	width: 16px;
	width: 16px;
	enable-background: new 0 0 32 32;
}

.mdb-icon > circle,
.mdb-icon > line,
.mdb-icon > path,
.mdb-icon > polygon,
.mdb-icon > polyline,
.mdb-icon > rect {
	fill: none;
	stroke: var(--mdb-icon-color);
	stroke-width: var(--mdb-icon-stroke-width);
}

.mdb-icon.fill > circle,
.mdb-icon.fill > path,
.mdb-icon.fill > rect {
	fill: var(--mdb-icon-color);
	stroke: none;
	stroke-width: var(--mdb-icon-stroke-width);
}

.mdb-icon.mdb-icon-film > path {
	fill: var(--mdb-icon-color);
	stroke: none;
}
